<!--========={ Popular Events }========-->
<section class="popular_event" th:if="${events!=null and !events.empty}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2>Próximos Eventos</h2>
                    <!--/*p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p*/-->
                </div>
            </div>
            <th:block th:each="event : ${events}">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-0">
                    <div class="event_single wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                        <div class="event_img">
                            <img th:src="${event.image}" alt="" class="img-fluid">
                            <div class="event_content">
                                <div class="event_date" th:utext="${event.date}"></div>
                                <div class="single_event_title">
                                    <h3><a th:href="${event.url}" title="" th:text="${event.name}"></a></h3>
                                    <div class="shape"></div>
                                </div>
                                <p th:utext="${event.time}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section><!-- ./ End Popular Events -->