<!--========={ Take A Tour }========-->
<section class="take_tour_1" th:if="${tour!=null}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                <div class="video_img wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                    <img th:src="${tour.image}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 pl-1">
                <div class="tour_video_content">
                    <h2 class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">Da un vistazo</h2>
                    <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s" th:text="${tour.desc1}"></p>
                    <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s" th:text="${tour.desc2}"></p>
                    <div class="video_wrapper  wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
                        <div class="video-play-btn">
                                <span><a th:href="${tour.videoUrl}" class="video-iframe"><i
                                        class="fa fa-play"></i><span class="video_title">Ver video</span></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./ End Take A Tour -->