<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<section>
    <!--==================
        Slider
    ===================-->

    <div class="rev_slider_wrapper">
        <div id="rev_slider_1" class="rev_slider" style="display:none">
            <!-- BEGIN SLIDES LIST -->
            <ul>
                <th:block th:each="item : ${sliderItems}">
                    <li th:replace="partials/slider.html :: sliderItem(index=${item.index}, image=${item.image}, text1=${item.text1}, text2=${item.text2}, caption=${item.caption})"></li>
                </th:block>
            </ul><!-- END SLIDES LIST -->
        </div><!-- END SLIDER CONTAINER -->
    </div><!-- END SLIDER CONTAINER WRAPPER -->

    <section th:replace="partials/popularCourses.html"></section>


</section>
</body>
</html>